:root {
  --primaryColor: rgb(25, 119, 242);
  --buttonColor: rgb(66, 183, 41);
  --bodyColor: rgb(239, 242, 245);
  --textColor: rgb(27, 30, 33);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20%;
  margin-top: 30vh;
}
.connectandfacebook > img {
  width: 350px;
}

.withfriends {
  margin-top: -50px;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  width: 500px;
}

.contactform {
  display: block;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 /10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  width: 396;
}

.email-password {
  margin-left: 10px;
  margin-right: 10px;
}
.email-password input[type="email"] {
  font-size: 17px;
  display: inline-block;
  margin: auto;
  padding: 6px 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 41px;
  width: 100%;
  border: 1px solid #ccd0d5;
  margin-bottom: 10px;
}

.email-password input[type="password"] {
  font-size: 17px;
  display: inline-block;
  margin: auto;
  padding: 6px 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 41px;
  width: 100%;
  border: 1px solid #ccd0d5;
  margin-bottom: 10px;
}

.login button[type="submit"] {
  width: 361px;
  height: 41px;
  color: white;
  background-color: #166fe5;
  font-size: larger;
  border: #166fe5;
  border-radius: 6px 6px 6px 6px;
}

.login button:hover {
  background-color: #0255c0;
}

.forgot {
  padding-top: 15px;
}
.forgot a {
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding-left: 9pc;
}

.divider {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}

.newaccount {
  text-align: center;
}
.newaccount button[type="submit"] {
  background-color: #42b72a;
  border: #42b72a;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  color: #fff;
}
.createapage {
  text-align: center;
  margin-top: 42px;
}

.createapage a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Responsive Design */

/* Small Mobile Device */
@media (max-width: 320px) {
  #container {
    display: grid;
    margin-top: 10vh;
    justify-content: center;
  }
  .withfriends {
    width: 100%;
    margin-right: 3%;
    margin-top: -5%;
    text-align: center;
    margin: 0 auto;
  }
  .connectandfacebook > img {
    width: 300px;
    position: relative;
    left: 8%;
  }
  .connectandfacebook {
    margin-bottom: 10%;
  }
  .contactform {
    margin: 0 auto;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .login button {
    background-color: var(--primaryColor);
    color: #fff;
    margin-top: 2%;
  }

  .forgot {
    background-color: var(--buttonColor);
    color: #fff;
    font-size: 10px;
    width: 60%;
    padding: 8px;
    font-weight: bold;
    margin: 0 auto;
  }
}

/* Average Mobile Devices */
@media (min-width: 320px) and (max-width: 480px) {
  #container {
    display: grid;
    margin-top: 10vh;
    justify-content: center;
  }
  .withfriends {
    width: 100%;
    margin-right: 3%;
    margin-top: -5%;
    text-align: center;
  }
  .connectandfacebook > img {
    width: 350px;
    position: relative;
    left: 8%;
  }

  .contactform {
    width: 220px;
    height: 200px;
    margin-left: 3%;
    background-color: #fff;
    padding: 5% 2% 5% 2%;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .login button {
    background-color: var(--primaryColor);
    color: #fff;
    margin-top: 2%;
  }

  .forgot {
    background-color: var(--buttonColor);
    color: #fff;
    font-size: 10px;
    width: 60%;
    padding: 8px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
  }
}

/* Tablet and IPads */
@media (min-width: 481px) and (max-width: 768px) {
  #container {
    display: grid;
    margin-top: 10vh;
    justify-content: center;
  }
  .withfriends {
    width: 100%;
    margin-right: 3%;
    margin-top: -5%;
    text-align: center;
  }
  .connectandfacebook > img {
    width: 350px;
    position: relative;
    left: 8%;
  }

  .contactform {
    width: 220px;
    height: 220px;
    margin-left: 3%;
    background-color: #fff;
    padding: 5% 2% 5% 2%;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .login button {
    background-color: var(--primaryColor);
    color: #fff;
    margin-top: 2%;
  }
  .forgot {
    color: var(--primaryColor);
    font-size: 10px;
    text-align: center;
  }
  .forgot {
    background-color: var(--buttonColor);
    color: #fff;
    font-size: 10px;
    width: 60%;
    padding: 8px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
  }
}
